
	
	/*	--------------------------------------------------------------------------	*/
	/*	Page layout
	/*	--------------------------------------------------------------------------	*/
	
	body {
		background: #222 url('/images/stonewall.png');
		font: 9pt calibri;
		color: #fff;
		margin: 0;
		padding: 0;
	}
	
	#wrapper {
		width: 1000px;
		margin: 10px auto;
		border: 1px solid #000;
		-moz-box-shadow: 0 0 10px 1px #111;
		-webkit-box-shadow: 0 0 10px 1px #111;
		box-shadow: 0 0 10px 1px #111;
		background: url('/images/black_50.png');
	}
	
	#header {
		width: 100%;
		height: 185px;
		background: #000 url('/images/header_background.png');
		border-bottom: 1px solid #000;
	}
	
	#sidebar {
		float: left;
		width: 190px;
		margin: 20px;
	}
	
	#content {
		float: left;
		width: 750px;
	}
	
	#footer {
		width: 100%;
	}
	
	/*	--------------------------------------------------------------------------	*/
	/*	Navigation in the header
	/*	--------------------------------------------------------------------------	*/
	
	#header ul, #header li, #header a {
		padding: 0px;
		margin: 0px;
	}
	
	#header ul {
		position: relative;
		top: 140px;
		left: 185px;
		width: 780px;
	}

	#header li {
		list-style: none;
		float: left;
		width: 111px;
		height: 30px;
		text-align: center;
    }

	#header a {
		display: block;
		width: 100%;
		height: 100%;
		color: #fff;
		text-decoration: none;
		line-height: 33px;
		font-size: 11pt;
    }

	#header li div {
		position: relative;
		top: 0px;
		left: 0px;
		background: url('/images/black_75.png');
		border: 1px solid #333;
		margin: 0;
		display: none;
		text-align: left;
		width: 135px;
    }

	#header li div a, #header li div a:hover {
		padding-left: 7px;
		width: 128px;
		border: none;
	}
	
	#header li div a:hover {
		background: url('/images/white_75.png');
	}

	#header li:hover div {
		display: block;
    }
	
	/*	--------------------------------------------------------------------------	*/
	/*	Sidebar sections layout and components
	/*	--------------------------------------------------------------------------	*/
	
	#sidebar ul {
		margin: 0;
		padding: 0;
	}
	
	#sidebar li {
		list-style: none;
		display: block;
	}
	
	#sidebar h1 {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 0 5px 0;
		background: #000;
		font: 9pt Tahoma;
		color: #fff;
		letter-spacing: 1px;
		text-align: center;
		line-height: 25px;
	}
	
	li.sidebar_section {
		width: 100%;
		border: 1px solid #000;
		background: #444;
		color: #fff;
		margin: 0 0 10px 0;
	}
	
	li.sidebar_section li {
		margin: 8px;
		border-bottom: 1px solid #888;
	}
	
	li.last_child {
		border: none !important;
	}
	
	li.sidebar_section img {
		float: left;
		margin: 3px 8px 8px 8px;
	}
	
	li.sidebar_section span {
		font-weight: bold;
	}
	
	li.sidebar_section form {
		margin: 8px;
	}

	li.sidebar_section input {
		width: 95%;
	}
	
	li.sidebar_section li p {
		font: 8pt Tahoma;
		margin-top: 2px;
	}

	li.sidebar_section a {
		color: #ccc;
		text-decoration: none;
	}
	
	li.sidebar_section a:hover {
		color: #fff;
		text-decoration: none;
	}

	/*	--------------------------------------------------------------------------	*/
	/*	Admin bar - only visible to administrators
	/*	--------------------------------------------------------------------------	*/
	
	#topbar {
		background: #000 url('/images/topbar.png');
		width: 100%;
		min-width: 1000px;
		height: 22px;
		margin: 0px;		
		padding-top: 5px;
		padding-bottom: 5px;	
		
		color: #AFACA0;
		text-align: center;
		vertical-align: middle;
		font-family: "Calibri";
		font-size: 12pt;
		text-shadow: 1px 1px #000000;
	}
	
	#topbar .padding {
		width: 1000px;
		margin: 0 auto
	}
	
	#topbar a:link { color: #51A515; text-decoration: none; }
	#topbar a:visited { color: #51A515; text-decoration: none; }
	#topbar a:hover { color: #51A515; text-decoration: none; }
	#topbar a:active { color: #51A515; text-decoration: none; }	
	
	/*	--------------------------------------------------------------------------	*/
	/*	Footer
	/*	--------------------------------------------------------------------------	*/
	
	#footer {
		overflow: auto; /* Necessary to stop margin of .padding being applied to parent */
		background: #000;
	}
	
	#footer p {
		text-align: center;
		margin-left: 550px;
	}
	
	#footer .padding {
		margin: 8px;
	}
	
	#footer a {
		color: #ccc;
		text-decoration: none;
		border-bottom: 1px dotted #ccc;
	}
	
	#footer a:hover {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}
	
	#footer ul.sitenav {
		float: left;
		display: block;
		width: 8%;
	}

	#footer ul {
		list-style: none;
		margin: 0px;
	}
	
	#footer ul a {
		border-bottom: 0px !important;
	}

	#footer li {
		margin-left: -25px !important;
	}

	/*	-------------------------------------------------------------------------	*/
	/*	Main page content
	/*	--------------------------------------------------------------------------	*/
	
	#content h1 {
		font: 20pt georgia;
		font-weight: lighter;
		color: #fefefe;
		width: 100%;
		height: 50px;
		text-align: center;
		background: url('/images/h1_background.png') bottom no-repeat;
	}
	
	#content {
		font: 11pt calibri;
		text-align: justify;
	}

	#content span {
		color: #ccc;
		font-style: italic;
	}

	#content a {
		color: #ccc;
		text-decoration: none;
		border-bottom: 1px dotted #ccc;
	}

	#content a:hover {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}
	

	/*	--------------------------------------------------------------------------	*/
	/*	Login page modules
	/*	--------------------------------------------------------------------------	*/
	
	#content .table {
		display: table;
		width: 100%;
	}
	
	#content .module {
		display: table-cell;
		width: 47%;
		border: 1px solid #000;
		background: #444;
		color: #fff;
	}

	#content .module h1 {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 0 5px 0;
		background: #222 url('/images/h1_background.png') bottom no-repeat;
		text-align: center;
		font-family: "Calibri";
		font-size: 12pt;
		text-shadow: 1px 1px #000000;
		letter-spacing: 1px;
		line-height: 30px;
		height: 42px;
	}

	#content .module span {
		color: #ccc;
		margin: 0 4px;
		display: block;
	}

	#content .module span a {
		float: right;
		margin-right: 12px;
	}
	
	#content .module form {
		margin: 4px;
		width: 100%;
	}

	#content .module td:first-child {
		width: 40%;
		padding-left: 10px;
	}

	.found_cache {
		float: left;
		border-bottom: none !important;
		margin: 5px;
	}

	#content .table_gap {
		display: table-cell;
		width: 2%;
	}

	/*	--------------------------------------------------------------------------	*/
	/*	Account page modules - very similar to login, but not tabled
	/*	--------------------------------------------------------------------------	*/
	
	#content .account .module {
		display: block !important;
		width: 100%;
	}

	#content .accountLeft {
		float: left;
		width: 49%;
	}

	#content .accountRight {
		float: right;
		width: 49%;
	}

	/*	--------------------------------------------------------------------------	*/
	/*	Lists - news, faq etc
	/*	--------------------------------------------------------------------------	*/
	
	#content ul, #content li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#content ul {
		margin: 10px 0;
	}

	#content ul h1 {
		font: 14pt calibri;
		border-bottom: 2px dotted;
		background: none;
		height: 25px;
		text-align: left;
		padding-left: 15px;
	}

	#content ul.news li {
		border: 1px solid #000;
		background: #444;
		margin: 5px 0;
		overflow: auto;
	}

	#content ul.news h1 {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 0 5px 0;
		background: #222 url('/images/h1_background.png') bottom no-repeat;
		border-bottom: none;
		text-align: center;
		font-family: "Calibri";
		font-size: 12pt;
		text-shadow: 1px 1px #000000;
		letter-spacing: 1px;
		line-height: 30px;
		height: 42px;
	}

	#content ul.news p {
		margin-left: 8px;
		margin-right: 8px;
	}

	#content ul.news span {
		float: right;
		margin-top: -40px;
		font-variant: small-caps;
		margin-right: 10px;
	}

	#content ul.news img {
		max-height: 200px;
	}

	#content ul.news #map_canvas img {
		max-height: 600px !important;
	}

	#content ul.news img.map_cache {
		float: left;
		margin: 10px;
	}

	#content ul.news table {
		width: 100%;
	}

	.blocked_users {
		width: 96%;
		height: 90px;
		overflow: auto;
		border: 1px solid #ccc;
		color: #ccc;
	}

	.blocked_users span {
		width: 46%;
		margin: 0;
		float: left;
		text-align: center;
	}
	
	#content .image_box img {
		float: left;
		width: 30%;
		margin: 0 1%;
	}